# Specify Python source files.
*.py  linguist-language=python linguist-detectable=true
*.pyi linguist-language=python linguist-detectable=true

# Highlight Cython source files as C language, since it's hopefully better
# than nothing. This also affects repo statistics.
*.pyx linguist-language=C linguist-detectable=true
*.pxd linguist-language=C linguist-detectable=true

# Jupyter notebook
*.ipynb text linguist-detectable=false
